<nav class="navbar">
  <div class="container text-center">
    <a class="navbar-brand mx-auto" href="#">
      <img 
        src="/images/logo-moriah-dorado.png" 
        alt="Logo MORIAH - Un Café Para el Alma" 
        width="220" 
        height="auto" 
        class="img-fluid"
      />
    </a>
  </div>
</nav>
